/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Commont style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* Header section style  */
.header-section{
    display: flex;
    width: 1340px;
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.header-info{
    margin-top:170px;
    margin-left: 156px;
    margin-right: 102px;
}
.header-title h4{
    font-size: 52px;
    line-height: 80px;
    color:#FFFFFF;
}
.link-a{
    margin-top: 27px;
}
.link{
    color:#FFFFFF ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    background-color: #E02C6D;

    padding: 10px 24px;
}
.span{
    margin: 0 10px;
}
.fa-arrow-right.arroww{
    width: 10px;
    height: 40px;
}
.header-banner{
    margin-top: 153px;
    margin-right: 140px;
}
.header-banner img{
    width: 556px;
    height: 438px;
}

/* Main content section style  */
.container
{
    width: 1340px;
    height: 3750px;
    background: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-content: center;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0 0 10px rgb(0, 0,0);
    border-radius: 5px;
    background-color:#FFFFFF ;
    margin-bottom: 27px;
    margin-right: 30px;
}
.player-detail{
    width: 300px;
    height: 426px;
    padding: 15px;
}
.player-detail img{
    width:300px;
    height: 256px;
    
}
.player-title{
    margin-top: 5px;
    font-size:28px;
    line-height: 40px;
    color: #18191F;
    width: 300px;
    padding: 13px;
    margin-bottom: 10px;
}
.player-info{
    margin-top: 0;
    font-size: 16px;
    color: #6C6C6C;
    width: 300px;
    padding-left: 13px;
    
}
/* footer section style  */
.footer-section{
   margin-top: 0; 
}
.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-banner{
    width: 483px;
    height: 110px;
    margin-bottom: 0px;
}
.footer-banner img{
    width: 350px;
    height:80px;
}
.footer-icon{
    margin-top: 0;
    width: 250px;
    height: 32px;
    margin-bottom: 15px;
    
   
}
i{
   font-size: 30px;
  
  
}

.filled{
    width: 17px;
    height: 15px;
    margin: 0 16px;
    
    
}
.copy-right{
  margin-top: 0;
  width: 270px;
  height: 31px;
  margin-bottom: 63px;
}
.copy-right p{
    font-size: 18px;
    color:#000000;
    font-weight: 400;
    line-height: 24px;

}

