/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Commont style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* Header section style  */
.header-section{
    display: flex;
    width: 1340px;
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.header-info{
    margin-top:170px;
    margin-left: 156px;
    margin-right: 102px;
}
.header-title h4{
    font-size: 52px;
    line-height: 80px;
    color:#FFFFFF;
}
.link{
   width: 168px;
   height: 44px;
   padding: 10px 4px 10px 24px;
   margin-top: 27px;
   font-size: 30px;
   font-weight: 500;
   text-decoration: none;
   background-color:#e02c6d ;
   border-radius: 5px;
   color: white;
}
.fa-arrow-right{
    width: 16px;
    height: 14px;
    padding: 15px 28px 15px 4px;
    color: white;
}
.span{
    margin: 0 10px;
}
.fa-arrow-right.arroww{
    width: 10px;
    height: 40px;
}
.header-banner{
    margin-top: 153px;
    margin-right: 140px;
}
.header-banner img{
    width: 556px;
    height: 438px;
    transition: width 5s, height 5s ,transform 5s ease 2s;
}
.header-banner img:hover{
    width: 300px;
    height: 200px;
    transform: rotate(360deg);
}

/* Main content section style  */
.container
{
    width: 1340px;
    height: 2200px;
    background: #FFFFFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-content: center;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0 0 10px rgb(0, 0,0);
    border-radius: 5px;
    background-color:#FFFFFF ;
    margin-bottom: 27px;
    margin-right: 30px;
}
.player-detail{
    width: 300px;
    height: 426px;
    padding: 15px;
}
.player-detail img{
    width:300px;
    height: 256px;
    
}
.player-title{
    margin-top: 5px;
    font-size:28px;
    line-height: 40px;
    color: #18191F;
    width: 300px;
    padding: 13px;
    margin-bottom: 10px;
}
.player-info{
    margin-top: 0;
    font-size: 16px;
    color: #6C6C6C;
    width: 300px;
    padding-left: 13px;
    
}
  /* Middel-contain  */
  .middel-container{
         display: grid;
         grid-template-columns: repeat(2,600px);
         grid-column-gap: 30px;
         grid-row-gap: 158px;
         margin-left: 160px;
         margin-right: 156px;
         justify-content: center;
         margin-bottom: 158px;

  }
  .middel-text{
      width: 469px;
      height: 309px;
  }
  .middel-detail h3{
      width: 469px;
      height: 120px;
      font-size: 48px;
      line-height: 60px;
      color: #0A0826;
      margin-bottom: 8px;
  }
  .middel-detail p{
      width:469px;
      
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #6C6C6C ;
      margin-bottom: 8px;
  }
  
  .middel-banner img{
      width: 567px;
      height: 427px;
  }

/* footer section style  */
.footer-section{
   margin-top: 0; 
}
.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-banner{
    width: 483px;
    height: 110px;
    margin-bottom: 0px;
}
.footer-banner img{
    width: 350px;
    height:80px;
}
.footer-icon{
    margin-top: 0;
    width: 250px;
    height: 32px;
    margin-bottom: 15px;
    
   
}
i{
   font-size: 30px;
  
  
}

.filled{
    width: 17px;
    height: 15px;
    margin: 0 16px;
    
    
}
.copy-right{
  margin-top: 0;
  width: 270px;
  height: 31px;
  margin-bottom: 63px;
}
.copy-right p{
    font-size: 18px;
    color:#000000;
    font-weight: 400;
    line-height: 24px;

}

